<div data-menu-content="features" class="absolute opacity-0 pointer-events-none transition-opacity  flex  top-10 p-6  flex-col bg-white gap-3 w-40 rounded-xl drop-shadow right-[5%] ">
  <span class="inline-flex gap-2 items-center hover:text-almost-black cursor-pointer">
    <img src="icon-todo.svg" class="w-4 h-4"  />
    Todo List
  </span> 

  <span class="inline-flex gap-2 items-center hover:text-almost-black cursor-pointer ">
    <img src="icon-calendar.svg" class="w-4 h-4"  />
    Calendar 
  </span> 

  <span class="inline-flex gap-2 items-center hover:text-almost-black cursor-pointer">
    <img src="icon-reminders.svg" class="w-4 h-4"  />
    Reminders 
  </span> 

  <span class="inline-flex gap-2 items-center hover:text-almost-black cursor-pointer">
    <img src="icon-planning.svg" class="w-4 h-4"  />
    Planning 
  </span> 
</div>
